/* fonts */
@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope.ttf');
}
@font-face {
    font-family: 'Aima Display';
    src: url('fonts/AimaDisplay.otf');
}
@font-face {
    font-family: 'Svetze';
    src: url('fonts/Svetze.otf');
}



/* general setting */
* {
    text-align: center;
    font-family: 'Manrope';
    font-weight: 500;
}
body {
    background-color: #E5F0FF;
}
a[href] {
    text-decoration: none;
    color: inherit;
}



/* heading setting */
.h1 {
    font-size: 2vw;
    font-weight: 800;
}



/* HOME navigation bar */
.nav {
    text-align: center;
    width: 25vw;
    padding-bottom: 3vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.dropdown {
    font-size: 1.5vw;
    background-color: #95bfff;
    color: #ffffff;
    padding: 1vw 1.5vw;
    border-radius: 2vw;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
}
.dropdown:hover {
    background-color: #ffffff;
    color: #95bfff;
    transition: 0.5s;
    box-shadow: 0px 0.5vw 0.5vw;
    transition: 0.5s;
}



/* SIDE navigation bar */
.menu-icon {
    cursor: pointer;
    position: fixed;
    top: 2.5vw;
    right: 2.8vw;
    z-index: 1000;
}
.bar {
    width: 2vw;
    height: 0.3vw;
    background-color: #000000;
    margin: 0.3vw 0;
    transition: 0.5s;
}
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6vw;
    z-index: 999;
}
.side-menu ul {
    list-style-type: none;
    padding: 0;
}
.side-menu ul li {
    padding: 1.5vw;
    transition: opacity 0.3s;
}
.side-menu ul li a {
    text-decoration: none;
    font-size: 2vw;
    transition: 0.3s;
}
.side-menu ul li a:hover {
    color: #95bfff;
}
.socialmedia {
    position: absolute;
    bottom: 10vw;
    left: 50%;
    transform: translateX(-50%);
}
.socialmedia img {
    width: 3vw;
    height: 3vw;
}



/* images */
figure img {
    height: 25vh;
    display: inline-block;
}
figure {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: 0.5s;
}
figure:hover figcaption {
    opacity: 1;
    transition: opacity 0.5s ease;
}
